$text-primary: #1a202c;
$text-secondary: #90a3bf;
$clr-blue: #3563e9;
$clr-deep-gray: #3D5278;
$clr-blue-gray: #596780;
$clr-light-blue: #54A6FF;
$clr-deep-blue: #0028a0;
$clr-light-gray: #f6f7f9;
$white: #ffffff;
$black: #000000;
$border-gray: #C3D4E966;

$rating-clr: #fbad39;

// Screen Breakpoints
$desktop-xl: 1920px;
$desktop-l: 1440px;
$desktop-m: 1200px;
$desktop-s: 1024px;
$tablet-l: 992px;
$tablet-m: 768px;
$tablet-s: 640px;
$mobile-l: 576px;
$mobile-m: 480px;
$mobile-s: 320px;
