

@import '../../styles/variables.scss';

.paymentSelection{
  background-color: $white;
  max-width: 850px;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .paymentHeader{
      font-size: 20px;
      font-weight: 700;
      color: $text-primary;
  }
  
  .paymentDefinitionLayout{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

  .paymentDefinition{
     color: $text-secondary;
     font-size: 13px;
     font-weight: 400;
  }
}
  
}

